
    
}
body {
    background-color:whitesmoke;
}
mark{
    background: red;
}
img {
   height: auto;
    max-width: 100%;
    
}
#firstp{
    color: blue;
}

#javascript img{
    float: left;
    width: 30%;
    height: auto;
    margin-right: 10px;
    max-width: 100%;
  
}

#javascript{
    text-align: justify;
    float:right;
    color: grey;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mytable{
    border: 1px solid blue;
    width:100%;
    text-align: center;
    border-radius: 10px;
    
}

.mytable td,.mytable th{
    border:1px solid gray;
    border-radius: 10px;
    background-color: tomato;
    width: 20%;
}
.mytable span{
    border:1px solid green;
    
}

#responsive-h1 {
    font-size: 10vw;
}

.left{
background-color: brown;
padding: 20px, 0px, 20px, 0px;
width: 20%;
float: left;
}

.main{
    background-color: lightgreen;
    padding: 20px, 0px, 20px, 0px;
    width: 60%;
    float: left;
}

.Right{
    background-color: darkgray;
    padding: 20px, 0px, 20px, 0px;
    width: 20%;
    float: left;
}


@media screen and (max-width:600px)and (min-width:400px){

.left,.main,.Right{
    width: 100%;
    color: red;
    border: 1px solid blue; 
    border-radius: 20px;
    background-color: burlywood;
    text-align: center;
}

}

@media screen and (max-width:400px)and (min-width:300px){

    .left,.main,.Right{
        width: 100%;
        color:pink;
        border: 1px solid blue; 
        border-radius: 20px;
        background-color:purple;
        text-align: center;
    }
    
    }
