.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.search--box label {
  position: relative;
 }
 .search--box label:after {
  position: absolute;
  content: "";
  border-right: 0.625rem solid transparent;
  border-left: 0.625rem solid transparent;
  border-bottom: 0.625rem solid #fff;
  bottom: -1.0625rem;
  right: 50%;
  margin-right: -0.3125rem;
 }
 .search--box input[type=search] {
  width: 100%;
  font: 1rem "Titillium Web", sans-serif;
  color: #1a4e8e;
  border: 0;
  padding: 0.75rem 0.9375rem 0.9375rem;
  background: #e6ebed;
  border-radius: 0.3125rem 0.3125rem 0 0;
  text-align: center;
  box-sizing: border-box;
 }
 .github--profile {
  width: 100%;
 }
 .github--profile__info {
  background: #fff;
  text-align: center;
  padding: 1.875rem 0.9375rem;
 }
 .github--profile__info img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
 }
 .github--profile__info h2 a {
  font-size: 1.65rem;
  color: #2368bd;
 }
 .github--profile__info h3 {
  font-size: 1.1885rem;
  color: #bdcbce;
 }
 .github--profile__state {
  background: #1a4e8e;
  text-align: center;
  padding: 1.875rem 0.9375rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
 }
 .github--profile__state ul {
  direction: ltr;
 }
 .github--profile__state li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
 }
 .github--profile__state li:last-child {
  margin-right: 0;
 }
 .github--profile__state a {
  color: #fff;
 }
 .github--profile__state i {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  display: block;
 }
 .github--profile__state span {
  font-size: 0.844rem;
  letter-spacing: 0.0625rem;
  color: #2776d7;
  font-weight: bold;
 }
 
