.App {
  text-align: center;
  color:blue;
  /* background:#09d3ac; */
  background:lightsalmon;
 }
 body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
  background: lightcyan;
 }
 .person{
  border:1px solid #aaa;
  padding:20px;
  margin:10px;
  width:250px;
  box-shadow:0 3px 3px #ccc;
  background:royalblue;
  color:white;
  display:inline-block;
 }

 #todo{
   border: 1px solid;
   border-radius: 20px;
   box-shadow: 0 2px 2px brown; 
 }

 #todo ul{
   list-style-type: none;

 }
 #todo ul li{
   background: lightblue;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
 }

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
